* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  anchor-name: --some-anchor;
}

.box{
    height: 200px;
    width: 200px;
}

.box:hover{
     anchor-name: --some-anchor;

}


.red{
    background-color:rgb(182, 29, 29);
    border-radius: 10px;

}

.blue{
    background-color: cornflowerblue;
    border-radius: 10px;
}

.green{
    background-color: chartreuse;
border-radius: 10px;
}

.anchor{
    background-color: rgb(238, 236, 234);
    border-radius: 10px;
    position: absolute;
    top: anchor(top);
    left:anchor(left);
    bottom: anchor(bottom);
    right: anchor(right);
    pointer-events: none;
    position-anchor: --some-anchor;
    transition: all 0.3s linear;
    mix-blend-mode: difference;


}