* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: #fff;
}
html,
body {
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;  
    justify-content: center;  
    background-color: cornflowerblue;

}

#card{
    height: 400px;
    width: 300px;
    background-color:white; 
    border-radius: 10px;
    padding: 20px;
    
}
#card img{
    height: 50%;
    width: 100%;        
    object-fit: cover;
    object-position: center;
    border-radius: 10px;

}

#card h1{
    font-size: 30px;
    color: black;
    margin: 20px 0 5px;
    text-align: center;
}

#card h5{
    font-size: 25px;
    color: rgb(118, 7, 245);
    margin: 0 0 20px;
    text-align: center;
}

#btn-container{
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 10px;
}

#card #btn1{
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(92, 81, 194);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
#card #btn1:active{
    scale: 0.95;
}
#card #btn2:active{
    scale: 0.95;
}
#card #btn2{
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(50, 186, 72);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


