* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;

}
  
:root{
    --x: 400px;
    --y: 400px;
}

.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.box {
  height: 100%;
  width: 100%;
  border: 1px solid white;
  background: radial-gradient(180px at var(--x) var(--y),rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.908));

  
}