* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box{
    height: 200px;
    width: 200px;
    
    
}

.red{
    background-color:rgba(182, 29, 29, 0.282);
    border-radius: 10px;

}

.red:hover{
    background-color: red;
}
.blue{
    background-color: cornflowerblue;
}

.green{
    background-color: chartreuse;

}
body:has(.box:hover) .box{
    transform: scale(0.8) ;
}

body .box:hover{
    transform: scale(1.2) !important;
}
